.scroll {
  display: flex;
  justify-content: end;
  gap: 1rem;
  width: 60%;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: row;
  }
}

.scrollUpInner,
.scrollDownInner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: row;
  }
}
